.about {
  padding: 100px 20px 20px;
  font-family: Arial, sans-serif;
}

.about-content {
  display: flex;
  align-items: flex-start;
}

.text-content {
  flex: 3;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  border-radius: 50%;
  object-fit: cover;
}

.about h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.about h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

.credits {
  display: flex;
  justify-content: space-between;
}

.broadcast-credits, .documentary-credits {
  flex: 1;
  margin-right: 20px;
}

.broadcast-credits ul, .documentary-credits ul {
  list-style-type: none;
  padding: 0;
}

.broadcast-credits li, .documentary-credits li {
  margin: 5px 0;
}
